<span class="sr-only">{{ site.data.strings.navigation | default:"Navigation" }}{{ site.data.strings.colon | default:":" }}</span>
<ul>
  {% assign pages = site.pages | where: "menu", true %}
  {% assign documents = site.documents | where: "menu", true %}
  {% assign nodes = pages | concat: documents | sort: "order" %}

  {% for node in nodes %}
    {% unless node.redirect_to %}

      {% assign is_active = false %}
      {% if node.url == '/' %}
        {% if page.url == '/' %}
          {% assign is_active = true %}
        {% endif %}
      {% elsif page.url contains node.url %}
        {% assign is_active = true %}
      {% endif %}

      <li>
        <a
          {% if forloop.first %}id="_navigation"{% endif %}
          href="{{ node.url | relative_url }}"
          class="sidebar-nav-item{% if is_active %} active{% endif %}"
          {% if path.rel %}rel="{{ node.rel }}"{% endif %}
          >
          {{ node.menu_title | default: node.title }}
        </a>
      </li>

    {% else %}
      <li>
        <a href="{{ node.redirect_to }}" class="sidebar-nav-item external">{{ node.menu_title | default: node.title }}</a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>